:root {
  --mainColor: #10cab7;
  --secondaryColor: #2c4755;
  --sectionPadding: 60px;
  --sectionBackgroundColor: #f6f6f6;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Work Sans', sans-serif;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  margin: 0;
  letter-spacing: -2px;
}

.special-heading + p {
  margin-top: -30px;
  font-size: 20px;
  text-align: center;
  color: #797979;
}

@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
header {
  padding: 20px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 60px;
}
header .nav-links {
  position: relative;
}
header .nav-links .nav-icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
header .nav-links:hover .nav-icon span:nth-child(2) {
  width: 100%;
}
header .nav-links .nav-icon span {
  background-color: black;
  margin-bottom: 5px;
  height: 2px;
}
header .nav-links .nav-icon span:first-child {
  width: 100%;
}
header .nav-links .nav-icon span:nth-child(2) {
  width: 60%;
  transition: width 0.3s;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
}
header .nav-links .nav-icon span:last-child {
  width: 100%;
}
header .nav-links ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  right: 0;
  background-color: var(--sectionBackgroundColor);
  min-width: 200px;
  top: calc(
    100% + 15px
  ); /* A <percentage> of the containing block's height 21px from the top. = 21px containing element height - 15px  */
  display: none;
  z-index: 1;
}
header .nav-links ul::before {
  content: '';
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
header .nav-links:hover ul {
  display: block;
}
header .nav-links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
header .nav-links ul li a:hover {
  padding-left: 25px;
}
header .nav-links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}

main.landing {
  background-image: url(../images/landing-image.jpg);
  height: calc(100vh - 64px); /* */
  background-size: cover;
  position: relative;
}

.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 320px;
  max-width: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.landing .intro-text h1 {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  color: var(--mainColor);
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
}

.features {
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
  background-color: var(--sectionBackgroundColor);
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.features .feat {
  padding: 20px;
  text-align: center;
}

.features .feat i {
  color: var(--mainColor);
}
.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .feat p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}

/* Start Services*/
.services {
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
}

.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 100px;
  gap: 30px;
}

.services .services-content .service {
  display: flex;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .services .services-content .service {
    flex-direction: column;
    text-align: center;
  }
}

.services .services-content .service i {
  color: var(--mainColor);
  flex-basis: 60px; /* width in flex-direction: row and hight in column direction */
}
.services .services-content .service .service-text {
  flex: 1;
}

.services .services-content .service .service-text h3 {
  margin-top: 0;
}

.services .services-content .service .service-text p {
  color: #444;
  font-weight: 300;
  line-height: 1.8;
}

.services .services-content .col .image {
  text-align: center;
  position: relative;
}

.services .services-content .col .image::before {
  content: '';
  position: absolute;
  background-color: var(--secondaryColor);
  right: 0;
  width: 100px;
  height: calc(100% + 100px);
  top: -50px;
 z-index: -1;
}

.services .services-content .col .image img {
  width: 260px;
 
}
@media (max-width: 1199px){
  .image-max-width{
    display: none;
  }

}
/* End Services*/

/* Start Portfolio */
.portfolio{
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
  background-color: var(--sectionBackgroundColor);
}

.portfolio .portfolio-content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 100px;
  gap: 30px;
}

.portfolio .portfolio-content .card{
  background-color: white;
}
.portfolio .portfolio-content img{
 
  max-width: 100%;
}

.portfolio .portfolio-content .portfolio-info{
  padding: 20px;
}
.portfolio .portfolio-content .portfolio-info h3{
  margin: 0;
}
.portfolio .portfolio-content .portfolio-info p{
 color: #777;
 line-height: 1.8;
 margin-bottom: 0;
}

/* End Portfolio */